.contacts-container {
    text-align: center;
    padding: 30px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 0rem;

  }
  
  .contacts-container h2 {
    /* margin-top: 15rem; */
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .contacts-container p {
    font-size: 16px;
    margin-bottom: 20px;

  }
  
  .contacts-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .contacts-list li {
    margin: 0 15px;
  }
  
  .contact-logo {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .contact-logo:hover {
    transform: scale(1.1);
  }
  